body {
  background-color: #EFF2F1;
  margin: 0;
  color: #4059AD;
  font-family: "Courier New", Courier, monospace;
}

header {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header nav {
  background-color: #F4B942;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px 8px 24px;
  color: #EFF2F1;
}
header nav img {
  height: 48px;
}
header nav i {
  width: 30px;
}
header nav i:hover {
  font-size: 30px;
  transition: 200ms;
}

#pageWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  padding: 48px;
  margin: 16px 0 16px 0;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: rgba(105, 153, 195, 0.2588235294);
}
section form {
  display: flex;
}
section form div:nth-of-type(1) input {
  border: 2px solid #4059AD;
  border-radius: 4px;
  margin: 4px 0 4px 0;
  width: 200px;
  background-color: rgba(107, 155, 196, 0);
  color: #4059AD;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
section form div:nth-of-type(1) input:focus {
  color: #4059AD;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  outline: none;
}
section form div:nth-of-type(1) input:focus::-moz-placeholder {
  color: transparent;
}
section form div:nth-of-type(1) input:focus::placeholder {
  color: transparent;
}
section form div:nth-of-type(1) input::-moz-placeholder {
  color: #4059AD;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
section form div:nth-of-type(1) input::placeholder {
  color: #4059AD;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}
section form div:nth-of-type(2) {
  display: flex;
  align-items: center;
}
section form div:nth-of-type(2) button {
  border: none;
  color: #4059AD;
  font-size: 16px;
  background-color: rgba(107, 155, 196, 0);
}
section form div:nth-of-type(2) button :hover {
  transform: scale(1.5);
  transition: 200ms;
}
section .container {
  margin: 16px 0 16px 0;
  border: 2px solid #4059AD;
  border-radius: 4px;
  width: 100%;
  height: 260px;
  overflow-y: scroll;
}
section .container::-webkit-scrollbar {
  box-shadow: inset 0 0 3px #4059AD;
  width: 10px;
}
section .container::-webkit-scrollbar-thumb {
  background: #F4B942;
  border-radius: 4px;
}
section .container::-webkit-scrollbar-thumb:hover {
  background: #e79f0d;
}
section .container ul {
  list-style-type: none;
  padding: 8px;
  margin: 0;
}
section .container ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
}
section .container ul li div {
  display: flex;
  justify-content: center;
}
section .container ul li div button {
  border: none;
  background-color: rgba(107, 155, 196, 0);
  color: #4059AD;
}
section .container ul li div button:hover {
  transform: scale(1.5);
  transition: 200ms;
}
section .container ul li div label {
  margin-top: 12px;
  width: 16px;
  height: 16px;
  position: relative;
  border: 2px solid #4059AD;
  border-radius: 4px;
  left: 0;
}
section .container ul li div label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
section .container ul li div label span {
  position: absolute;
  top: 1px;
  font-size: 14px;
  color: #4059AD;
  visibility: hidden;
}
section .container ul li div label input:checked ~ span {
  display: block;
  visibility: visible;
}
section .moveBtn {
  border: none;
  color: #4059AD;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(107, 155, 196, 0);
  font-weight: 600;
}
section .moveBtn i {
  margin-left: 8px;
}
section .moveBtn:hover {
  transform: scale(1.1);
  transition: 200ms;
}

#menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: palegoldenrod;
  padding: 10px;
  font-size: 25px;
}
#menu h6 {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin-top: 10px;
}

#hamburgerMenu:hover {
  transition: 400ms;
  color: white;
}

a.hamburgerMenuItem:link {
  color: black;
  text-decoration: none;
}
a.hamburgerMenuItem:visited {
  color: black;
  text-decoration: none;
}
a.hamburgerMenuItem:hover {
  color: white;
  transition: 500ms;
  text-decoration: none;
}
a.hamburgerMenuItem:active {
  color: black;
  text-decoration: none;
}

.alertMessage-container {
  background-color: white;
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  top: 35%;
  width: 50%;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  display: none;
}

.alertMessageNumber2-container {
  background-color: white;
  position: fixed;
  padding-top: 100px; /* Location of the box */
  top: 35%;
  width: 50%;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  display: none;
}

/*# sourceMappingURL=style.css.map */