body {
    background-color: beige;
    margin: 0;
}

body {
    background-color: white;
}

header {
    width: 100%;
    height: 8%;
}

nav {
    background-color: lightgrey;
    padding: 6px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pageWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 1px solid black;
    height: 180px;
    width: 100%;
}

#moveBtn {
    background-color: gray;
    border: 1px solid black;
    margin: 6px;
}


.fa-gear {
    font-size: 30px;
}

.fa-bars {
    font-size: 30px;
}