$backgroud: #EFF2F1;
$orange: #F4B942;
$lightBlue: #6999c342;
$lighterBlue:#6b9bc400;
$darkBlue: #4059AD;
$shadowBox: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$fontFamily: 'Courier New', Courier, monospace;

@mixin border{
    border: 2px solid $darkBlue;
    border-radius: 4px;
}
@mixin button{
    background: $darkBlue;
    border: none;
    border-radius: 4px;
    color:white;
    font-family: $fontFamily;
}

body{
    background-color: $backgroud;
    margin: 0;
    color: $darkBlue;
    font-family: $fontFamily;
}

header {
    width: 100%;
    box-shadow: $shadowBox;
    nav {
        background-color: $orange;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px 8px 24px;
        color: #EFF2F1;
        img{
            height: 48px;
        }
        i {
            width: 30px;
           &:hover{
            font-size: 30px;
            transition: 200ms;
           } 
        }
    }
}

#pageWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    padding: 48px;
    margin: 16px 0 16px 0;
    width: 250px;
    box-shadow: $shadowBox;
    border-radius: 8px;
    background-color: $lightBlue;
    form{
        display: flex;
        div:nth-of-type(1){
            input{
                @include border;
                margin: 4px 0 4px 0;
                width: 200px;
                background-color: $lighterBlue;
                color: $darkBlue;
                font-family: $fontFamily;
                font-weight: 600;
                &:focus{
                    color: $darkBlue;
                    font-family: $fontFamily; 
                    font-weight: 600;
                    outline: none;
                    &::placeholder{
                        color: transparent;
                    }
                }
                &::placeholder{
                    color: $darkBlue;
                    font-family: $fontFamily;
                    font-size: 14px;
                }
            }
        }
        div:nth-of-type(2){
            display: flex;
            align-items: center;
            button{
                border: none;
                color: $darkBlue;
                font-size: 16px;
                background-color: $lighterBlue;
                :hover{
                    transform: scale(1.5);
                    transition: 200ms;
                }
            }
        }
    }
    .container {
        margin: 16px 0 16px 0;
        @include border;
        width: 100%;
        height: 260px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            box-shadow: inset 0 0 3px $darkBlue;
            width: 10px;
        }
        &::-webkit-scrollbar-thumb{
            background:$orange;
            border-radius: 4px;
            &:hover{
                background:#e79f0d;
            }
        }
        ul{
            list-style-type: none;
            padding: 8px;
            margin:0;
            li {
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-weight: 600;
                font-size: 14px;
                div{
                    display: flex;
                    justify-content: center;
                    button {
                        border: none;
                        background-color: $lighterBlue;
                        color: $darkBlue;
                        &:hover{
                            transform: scale(1.5);
                            transition: 200ms;
                        }
                    }
                    label{
                        margin-top: 12px;
                        width: 16px;
                        height: 16px;
                        position: relative;
                        @include border;
                        left:0;
                        input{
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }
                        span{
                            position: absolute;
                            top: 1px;
                            font-size: 14px;
                            color: $darkBlue;
                            visibility: hidden;
                        }
                        input:checked ~ span{
                                display: block;
                                visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .moveBtn{
        border: none;
        color: $darkBlue;
        font-family: $fontFamily;
        background-color: $lighterBlue;
        font-weight: 600;
        i{
            margin-left: 8px;
        }
        &:hover{
            transform: scale(1.1);
            transition: 200ms;
        }
    }
}




#menu {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: palegoldenrod;
    padding: 10px;
    font-size: 25px;
    h6 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        margin-top: 10px;
      }
  }
  
  #hamburgerMenu:hover{
    transition: 400ms;
    color:white;
  }
  
  a.hamburgerMenuItem{
    &:link
    {
       color: black;
       text-decoration: none;
    }
    &:visited
    {
       color: black;
       text-decoration: none;
    }
    &:hover
    {
       color: white;
       transition: 500ms;
       text-decoration: none;
    }
    &:active
    {
        color: black;
        text-decoration: none;
    }
  }

  
.alertMessage-container{
    background-color: white;
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    top: 35%;
    width: 50%;
    margin: auto;
    padding:30px;
    border-radius:5px;
    box-shadow:0 0 15px 5px #ccc;
    display: none;
    z-index: 2;
    
}

.alertMessageNumber2-container{
  background-color: white;
  position: fixed;
  padding-top: 100px; /* Location of the box */
  top: 35%;
  width: 50%;
  margin: auto;
  padding:30px;
  border-radius:5px;
  box-shadow:0 0 15px 5px #ccc;
  display: none;
  z-index: 2;
}

  /*# sourceMappingURL=style.css.map */